<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REST_API_KEY</key>
	<string>XRiVQholofzxvsqxSfWsS3u8769OYszgrNck</string>
	<key>APPLICATION_ID</key>
	<string>5dSr0geJis6PSTpABBR6zfwGbGZDJ2rJZW90</string>
</dict>
</plist>
